.averageofreviews{
    margin-left: 10%;
}

.review-card{
    margin-left: 5%;
    margin-bottom: 1%;
    position: relative;
}

.review-card button{
    position: absolute;
    /*bottom: 0;*/
    right: 0;

}

.reviewname{
    font-size: 1.4em;
}

.fa{
    color: yellow;
}

button{
    background-color: #ff9d2f;
}

dialog{
    width: 500px;
    height: 300px
}

.formfield{
    /*margin-left: 14%;*/
    /*width: 80%;*/
    margin-top: 5%;
    margin-left: 5%;

}

.allreviews{
    margin-top: 5%;
    margin-right: 5%;
}

.reviewaverage{
    margin-right: 6%;
    /*margin-left: 5%;*/
}

.bannerimages img{
    width: 20px;
    height: 20px;
}
