

.navbar{
 background-color: red;
 height: 6vh;
}

.hyperlink {
    color: blue;
}
header {
    position: relative;
    height: 70vh;
    overflow: hidden;
}

.header__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#ff9d2f, #ff6126);
    transform: skewY(-6deg);
    transform-origin: top left;
}

.decoration:hover{
    text-decoration: none;
}

.bg-custom{
    background-color: #003554;
}

.status{
    height: 80px;
    width: 45vw;
    position: absolute;
    left: 2vw;
}

.lift-img{
    height: 50vh;
    width: 35vw;
    position: absolute;
    right: 2vw;
}

.lift-img img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    display: block;
    margin: 0 auto;
}
.lift-img p{
    color: red;
    text-align: justify;

}

.NSbanner{
 height: 400px;
    width: 100%;
}